:host {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5ca681;
  padding: 1rem;
  border-radius: 12px;
  h1 {
    color: #ede7e3;
    font-size: 1.75rem;
  }
}
